div.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.login-box {
  width: 360px;
  height: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

div.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.c-logo {
  width: 63px;
  height: 66px;
  margin-bottom: 5px;
}

img.colabora-logo {
  width: 100px;
  height: 20px;
  margin-bottom: 40px;
}

input.login-input {
  width: 90%;
  border-radius: 30px;
  font-size: 16px;
  color: #07AAE2;
  padding: 15px 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  outline: none;
}

input.login-input::placeholder {
  color: #07AAE2;
  opacity: .6;
}

a.login-button {
  margin-top: 15px;
  color: white;
  background-color: #01FE82;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
}