div.Colaboradores {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.page-header {
  border: 2px solid #07AAE2;
  color: #07AAE2;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

div.page-header:hover {
  background-color: #19F98C;
  color: white;
  border: 2px solid #19F98C;
}

div.table-bordered {
  width: 100%;
  border: 2px solid #07aae2;
  border-radius: 10px;
}

table {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

table, tr, th, td {
  border: 1px solid #07aae2;
  border-collapse: collapse;
}

th {
  color: #07aae2;
  padding: 5px;
}

tbody tr:hover {
  background-color: #EFEFEF;
}

tbody tr td:last-child button {
  padding: 5px;
  font-size: 16px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

tbody tr td:last-child button:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

tbody tr td:last-child button:nth-child(1){
  background-color: #03ACE3;
}

tbody tr td:last-child button:nth-child(2){
  background-color: #1F1F1F;
}

tbody tr td:last-child button:nth-child(3){
  background-color: #EA4D4D;
}

tbody tr td:last-child button:last-child {
  margin-right: 0px;
}

tbody tr td:last-child button i {
  width: 20px;
}

td {
  text-align: center;
  padding: 10px;
}